@page "/ForgotPassword"

@layout LoginLayout
@inject IJSRuntime JS
@inject NavigationManager navigation
@inject ILoginService loginService

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Sonlen</b>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                <EditForm Model="loginModel" OnValidSubmit="SubmitHandlerAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary></ValidationSummary>
                    <div class="input-group mb-3">
                        <InputText @bind-Value="loginModel.Account" class="form-control" placeholder="Email" />
                        <FormIconComponent icon="fa-envelope"></FormIconComponent>
                    </div>
                    <div class="input-group mb-3" style="display:none">
                        <InputText @bind-Value="loginModel.Password" class="form-control" />
                    </div>
                    <div class="row">

                        <!-- /.col -->
                        @if (IsSubmit)
                        {
                            <div class="col-12">
                                <button class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span class="sr-only">Loading...</span>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                            </div>
                        }
                        <!-- /.col -->
                    </div>
                </EditForm>
                <p class="mt-3 mb-1">
                    <a href="login">Login</a>
                </p>
                <p class="mb-0">
                    <a href="register" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</body>

@code {
    private bool IsSubmit = false;
    private LoginModel loginModel = new LoginModel() { Password = "0000" };

    private async Task SubmitHandlerAsync()
    {
        IsSubmit = true;

        bool result = await loginService.ForgotPasswordAsync(loginModel);
        if (result)
        {
            await JS.InvokeVoidAsync("alert", "已發送認證郵件");
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "郵件不存在，請檢查郵件或註冊新會員");
        }

        IsSubmit = false;
    }
}
