<div class="input-group-append">
    <div class="input-group-text">
        <span class="fas @icon"></span>
    </div>
</div>

@code {
    [Parameter]
    public string icon { get; set; } = string.Empty;
}
