<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sonlen.AdminWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Employee">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 員工資料
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Punch">
                <span class="oi oi-clock" aria-hidden="true"></span> 打卡
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Leave">
                <span class="oi oi-calendar" aria-hidden="true"></span> 請假
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WorkOvertime">
                <span class="oi oi-calendar" aria-hidden="true"></span> 加班申請
            </NavLink>
        </div>
         <AuthorizeView Roles="@roles">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ConfirmLeave">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> 審核請假
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ConfirmWorkOvertime">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> 審核加班申請
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string roles = "admin";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
